<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Portfolio Mohamed Zii</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- main css -->
    <link rel="stylesheet" href="styles/styles.css" />
    <!-- iconmon -->
    <link rel="stylesheet" href="icomoon (6)/style.css" />
  </head>
  <body class="main-content">
    <!-- ----------------------
-------------INTRO PAGE---------------------- -----------------------------------------------
     --------------------------->
    <header class="container header active" id="home">
      <div class="header-content">
        <div class="left-header">
          <div class="h-shape"></div>
          <div class="image"><img src="img/heroEDITED.png" alt="" /></div>
        </div>
        <div class="right-header">
          <h1 class="name">
            Hi, I'm<span> Mohamed Zii.</span> A Full-Stack Developer Student.
          </h1>
          <p>
            Ever since I was a child, I have always been interested by the way
            Games/computers worked, so being a programmer has always being a
            dream for me
          </p>
          <div class="btn-con">
            <a
              class="main-btn"
              href="https://docs.google.com/document/d/1L6fAH3VwSu133PgELKc9G09N3Am4lQJD/edit?usp=sharing&ouid=112706311447545660340&rtpof=true&sd=true"
              target="_blank"
              ><span class="btn-text">Download CV</span
              ><span class="btn-icon"><i class="fas fa-download"></i></span
            ></a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- ----------------------
-------------MAIN SECTION ABOUT ME---------------------------------------------------------------------
     --------------------------->
      <section class="container about" id="about">
        <div class="main-title">
          <h2>About<span>me</span><span class="bg-text">my stats</span></h2>
        </div>
        <div class="about-container">
          <div class="left-about">
            <h4>Information About me</h4>
            <p>
              Hi, I'm Mohamed Zii and I'm 29 years old. I'm currently studying
              Full-Stack development in Barcelona. I'm a creative person who
              likes to do things my own way, but I'm always eager to learn from
              others. I'm passionate about Full-Stack development because it
              challenges me to be a better problem-solver and thinker in life in
              general. I'm excited about my future in this field and can't wait
              to see where it takes me.
            </p>
            <div class="btn-con">
              <a
                class="main-btn"
                href="https://docs.google.com/document/d/1L6fAH3VwSu133PgELKc9G09N3Am4lQJD/edit?usp=sharing&ouid=112706311447545660340&rtpof=true&sd=true"
                target="_blank"
                ><span class="btn-text">Download CV</span
                ><span class="btn-icon"><i class="fas fa-download"></i></span
              ></a>
            </div>
          </div>
          <div class="right-about">
            <div class="about-item">
              <div class="abt-text">
                <p class="large-text">1</p>
                <p class="small-text">year of<br />HTML/CSS</p>
              </div>
            </div>
            <div class="about-item">
              <div class="abt-text">
                <p class="large-text">3</p>
                <p class="small-text">
                  Years of<br />Shopify/Etsy/facebook ads
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="about-stats">
          <h4 class="stat-title">My Skills</h4>
          <div class="progress-bars">
            <div class="progress-bar">
              <p class="prog-title">html5</p>
              <div class="progress-con">
                <p class="prog-text">80%</p>
                <div class="progress"><span class="html"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">css3</p>
              <div class="progress-con">
                <p class="prog-text">70%</p>
                <div class="progress"><span class="css"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">javascript</p>
              <div class="progress-con">
                <p class="prog-text">45%</p>
                <div class="progress"><span class="js"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">git</p>
              <div class="progress-con">
                <p class="prog-text">30%</p>
                <div class="progress"><span class="git"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">github</p>
              <div class="progress-con">
                <p class="prog-text">70%</p>
                <div class="progress"><span class="css"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">shopify</p>
              <div class="progress-con">
                <p class="prog-text">70%</p>
                <div class="progress"><span class="css"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">php (in progress)</p>
              <div class="progress-con">
                <p class="prog-text">20%</p>
                <div class="progress"><span class="php"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">Mysql (in progress)</p>
              <div class="progress-con">
                <p class="prog-text">40%</p>
                <div class="progress"><span class="mysql"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">sql (in progress)</p>
              <div class="progress-con">
                <p class="prog-text">30%</p>
                <div class="progress"><span class="sql"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">Node.js (pending)</p>
              <div class="progress-con">
                <p class="prog-text">0%</p>
                <div class="progress"><span class="node-js"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">react.js (pending)</p>
              <div class="progress-con">
                <p class="prog-text">0%</p>
                <div class="progress"><span class="node-js"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">Mongodb (in progress)</p>
              <div class="progress-con">
                <p class="prog-text">30%</p>
                <div class="progress"><span class="mongodb"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">express.js (in progress)</p>
              <div class="progress-con">
                <p class="prog-text">20%</p>
                <div class="progress"><span class="expressjs"></span></div>
              </div>
            </div>
            <div class="progress-bar">
              <p class="prog-title">angular.js (pending)</p>
              <div class="progress-con">
                <p class="prog-text">0%</p>
                <div class="progress"><span class="node-js"></span></div>
              </div>
            </div>

            <div class="progress-bar">
              <p class="prog-title">symfony (pending)</p>
              <div class="progress-con">
                <p class="prog-text">0%</p>
                <div class="progress"><span class="node-js"></span></div>
              </div>
            </div>
          </div>
        </div>
        <!-- ----------------------
-------------MY TIMELINE----
     --------------------------->
        <h4 class="stat-title">My Timeline</h4>
        <div class="timeline">
          <div class="timeline-item">
            <div class="tl-icon"><i class="fas fa-user-graduate"></i></div>
            <p class="tl-duration">2020 - present</p>
            <h5>Full-Stack DEV<span>- INESEM Business SchooL</span></h5>
            <p>
              Master Full-Stack development (html - css - js - git -github - php
              - mysql - mongodb - angular.js - node.js - react.js - symfony)
            </p>
          </div>
          <div class="timeline-item">
            <div class="tl-icon"><i class="fas fa-user-graduate"></i></div>
            <p class="tl-duration">2013 - 2014</p>
            <h5>Bachelor degree<span>- Hassan 2 Morocco</span></h5>
            <p></p>
          </div>
          <div class="timeline-item">
            <div class="tl-icon"><i class="fas fa-briefcase"></i></div>
            <p class="tl-duration">2020 - Now</p>
            <h5>Shopify/Etsy E-commerce/AmazonKDP<span>- Online</span></h5>
            <p>
              -Edit Template -Config store-Create media branding/POD using
              (Midjourney,canva,placeit,printful,chat-Gpt) - Upload products -
              Add contents - Create social media campaigns -Facebook ads
            </p>
          </div>
          <div class="timeline-item">
            <div class="tl-icon"><i class="fas fa-briefcase"></i></div>
            <p class="tl-duration">2020 - 2021</p>
            <h5>warehouse staff<span>- Dhl</span></h5>
            <p>picking and orders quality checking</p>
          </div>
          <div class="timeline-item">
            <div class="tl-icon"><i class="fas fa-briefcase"></i></div>
            <p class="tl-duration">2019 - 2020</p>
            <h5>Warehouse Satff<span>- Caprabo</span></h5>
            <p>Picking and orders quality checking</p>
          </div>
          <div class="timeline-item">
            <div class="tl-icon"><i class="fas fa-briefcase"></i></div>
            <p class="tl-duration">2019 - 2019</p>
            <h5>warehouse staff<span>- Guzman</span></h5>
            <p>Picking and orders quality checking</p>
          </div>
        </div>
      </section>
      <!-- ----------------------
-------------PROJECTS PAGE---------------------------------------------------------------------
     --------------------------->
      <section class="container" id="portfolio">
        <div class="main-title">
          <h2>My<span>Portfolio</span><span class="bg-text">My Work</span></h2>
        </div>
        <p class="port-text">
          Here is some of my work that I've done in various programming
          languages.
        </p>
        <div class="portfolios">
          <div class="portfolio-item">
            <div class="image">
              <img src="img/Screenshot (22).png" alt="" />
            </div>
            <div class="hover-items">
              <h3>Project Source</h3>
              <div class="icons">
                <a
                  href="https://github.com/ziiaksel/E-COM-STORE-from-scratch"
                  class="icon"
                  ><i class="fab fa-github"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="image"><img src="img/TODOLIST.png" alt="" /></div>
            <div class="hover-items">
              <h3>Project Source</h3>
              <div class="icons">
                <a href="https://ziiaksel.github.io/6--TO-DO-LIST/" class="icon"
                  ><i class="fab fa-github"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="image"><img src="img/login1.png" alt="" /></div>
            <div class="hover-items">
              <h3>Project Source</h3>
              <div class="icons">
                <a href="https://github.com/ziiaksel/LOGIN-SYSTEM" class="icon"
                  ><i class="fab fa-github"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="image">
              <img src="img/Screenshot (23).png" alt="" />
            </div>
            <div class="hover-items">
              <h3>Project Source</h3>
              <div class="icons">
                <a
                  href="https://github.com/ziiaksel/PRACTICAL-SMALL-PROJECTS"
                  class="icon"
                  ><i class="fab fa-github"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="portfolio-item">
            <div class="image">
              <img src="img/mongodb.png" alt="" />
            </div>
            <div class="hover-items">
              <h3>Project Source</h3>
              <div class="icons">
                <a
                  href="https://github.com/ziiaksel/write-articles-using-express-and-mongodb"
                  class="icon"
                  ><i class="fab fa-github"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- closer of div -->
        </div>

      </div>
      </section>
      <!-- ----------------------
-------------MY ARTICLES BLOG PAGE---------------------------------------------------------------------
     --------------------------->
      <section class="container" id="blogs">
        <div class="blogs-content">
          <div class="main-title">
            <h2>My<span>Blogs</span><span class="bg-text">My Blogs</span></h2>
          </div>
          <div class="blogs">
            <div class="blog">
              <img
                src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*adOpwdne9hS9vtqBGMaeFg.png"
                alt=""
              />
              <div class="blog-text">
                <h4>
                  4 reasons why bitcoin will be worthless in the next 10 years
                </h4>
                <p>
                  Bitcoin has certainly made a splash in the world of finance
                  and technology, there are a number of factors that could lead
                  to its decline in value over the next decade such us ...<a
                    class="read-more"
                    href="https://medium.com/@ziiaksel/4-reasons-why-bitcoin-will-be-worthless-in-the-next-10-years-98e3af708b4"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Read More</a
                  >
                </p>
              </div>
            </div>
            <div class="blog">
              <img
                src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*cAM-AbcGFfRFykXZ9rqmIA.png"
                alt="How to Eat Like a Neanderthal and Live a Healthier Life?"
              />
              <!-- <h6>image source :</h6> -->
              <div class="blog-text">
                <h4>
                  How to Eat Like a Neanderthal and Live a Healthier Life?
                </h4>
                <p>
                  Do you ever feel like you’re fighting an uphill battle with
                  your health? Imagine a life where you...<a
                    class="read-more"
                    href="https://medium.com/@ziiaksel/how-to-eat-like-a-neanderthal-and-live-a-healthier-life-ancient-secrets-for-modern-wellness-615e3282ff99"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Read More</a
                  >
                </p>
              </div>
            </div>
            <div class="blog">
              <img
                src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*iHybhSuLPIZS_9xsODj9OQ.png"
                alt="the picasso art of asking chat-GPT"
              />
              <div class="blog-text">
                <h4>The Picasso of asking the right questions to chat-GPT</h4>
                <p>
                  How Does AI language models actually work? The key behind it
                  is : “Attention Is All You Need” But how ...<a
                    class="read-more"
                    href="https://medium.com/@ziiaksel/the-picasso-of-asking-the-right-questions-to-ai-f58c473efffc"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Read More</a
                  >
                </p>
              </div>
            </div>
            <div class="blog">
              <img
                src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*FPykbV006iyG7-liNwXTNg.png"
                alt="Scientists Warn that Commercial Use of Dream Technology Could Have Serious Consequences"
              />
              <div class="blog-text">
                <h4>
                  Scientists Warn that Commercial Use of Dream Technology Could
                  Have Serious Consequences
                </h4>
                <p>
                  Are you one of those people who love to have a good dream at
                  night? Well, what if I told you that companies ...<a
                    class="read-more"
                    href="https://medium.com/@ziiaksel/the-picasso-of-asking-the-right-questions-to-ai-f58c473efffc"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Read More</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container" id="showcase">
        <div class="hero">
          <h1 style="color: black;text-align: center;" >SHOWCASE </h1>
          <ul class="slider">
            <li class="slide s1">
              <a
                href="https://www.amazon.com/dp/B0BY72BMJZ"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
            </li>
            <li class="slide s2"></li>
            <li class="slide s3"></li>
            <li class="slide s4"></li>
            <li class="slide s5"></li>
          </ul>
        </div>
      </section>
      <!-- ----------------------
-------------CONTACT ME---------------------------------------------------------------------
     --------------------------->
      <section class="container contact" id="contact">
        <div class="contact-container">
          <div class="main-title">
            <h2>Contact<span>Me</span><span class="bg-text">Contact</span></h2>
          </div>
          <div class="contact-content-con">
            <div class="left-contact">
              <h4>Contact me here</h4>
              <p>Here to answer any questions you have</p>
              <div class="contact-info">
                <div class="contact-item">
                  <div class="icon">
                    <i class="fas fa-map-marker-alt"></i><span>Location</span>
                  </div>
                  <p>Barcelona, Spain</p>
                </div>
                <div class="contact-item">
                  <div class="icon">
                    <i class="fas fa-envelope"></i><span>Email</span>
                  </div>
                  <p><span> ziiaksel@gmail.com</span></p>
                </div>
                <div class="contact-item">
                  <div class="icon">
                    <span class="icon-phone"></span><span>Mobile Number</span>
                  </div>
                  <p><span> +34602063307</span></p>
                </div>
                <div class="contact-item">
                  <div class="icon">
                    <i class="fas fa-globe-africa"></i><span>Languages</span>
                  </div>
                  <p><span> English . Spanish . Arabic . Tamazight</span></p>
                </div>
              </div>
              <div class="contact-icons">
                <div class="contact-icon">
                  <a href="https://twitter.com/zii_moha" target="_blank"
                    ><i class="fab fa-twitter"></i></a
                  ><a href="https://github.com/ziiaksel" target="_blank"
                    ><i class="fab fa-github"></i></a
                  ><a
                    href="https://www.linkedin.com/in/akselamazigh"
                    target="_blank"
                    ><span class="icon-linkedin-square"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="right-contact">
              <p>Or contact me via this form</p>

              <!--------------------------------------------------- 
                  ---This is form section
               ---------------------------------------------------->
              <form action="/index" class="contact-form" method="post">
                <div class="input-control i-c-2">
                  <input
                    class="light-input"
                    type="text"
                    required
                    placeholder="YOUR FULL NAME"
                  />
                  <input
                    class="light-input"
                    name="number"
                    type="tel"
                    placeholder="YOUR NUMBER"
                    maxlength="15"
                  />
                  <input
                    class="light-input"
                    name="email"
                    type="email"
                    required
                    placeholder="YOUR EMAIL"
                  />
                </div>
                <div class="input-control">
                  <input
                    class="subject light-input"
                    name="subject"
                    type="text"
                    required
                    placeholder="ENTER SUBJECT"
                    maxlength="30"
                  />
                </div>
                <div class="input-control message">
                  <textarea
                    style="position: relative"
                    class="light-input"
                    name="message"
                    id=""
                    cols="15"
                    rows="8"
                    placeholder="Message Here..."
                  ></textarea>
                  <!-- <a class="send-button"><span></a> -->
                  <input type="submit" value="Send" />

                  <!-- <a href="#" class="main-btn send-btn" >SEND</a> -->
                </div>
                <div class="submit-btn">
                  <a
                    class="main-btn"
                    href="https://docs.google.com/document/d/1L6fAH3VwSu133PgELKc9G09N3Am4lQJD/edit?usp=sharing&ouid=112706311447545660340&rtpof=true&sd=true"
                    target="_blank"
                    ><span class="btn-text">Download CV</span
                    ><span class="btn-icon"
                      ><i class="fas fa-download"></i></span
                  ></a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- ----------------------
-------------THANK YOU PAGE---------------------------------------------------------------------
     --------------------------->
      </section>
      <section class="container" id="fun">
        <div class="meme-container">
          <h3 id="title">Special thanks To!</h3>
          <img src="img/lightsOn.png" alt="meme" id="meme" />
        </div>
      </section>
    </main>

    <!-- ----------------------
-------------CONTROLS ICONS ROUTING---------------------------------------------------------------------
     --------------------------->
    <div class="controls">
      <div class="control active-btn" data-id="home">
        <i class="fas fa-home"></i>
      </div>
      <div class="control" data-id="about"><i class="fas fa-user"></i></div>
      <div class="control" data-id="portfolio">
        <i class="fas fa-briefcase"></i>
      </div>
      <div class="control" data-id="blogs">
        <i class="far fa-newspaper"></i>
      </div>
      <div class="control" data-id="showcase">
        <i class="fa-solid fa-face-laugh-wink"></i><i class="fa fa-image"></i>
      </div>
      <div class="control" data-id="contact">
        <i class="fas fa-envelope-open"></i>
      </div>
      <div class="control" data-id="fun"><i class="fas fa-laugh-wink"></i></div>
    </div>
    <div class="theme-btn"><i class="fas fa-adjust"></i></div>
    <script src="main.js"></script>
  </body>
</html>
